
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by Paras Garg</p>
  </div>
</div>
<script>
  document.getElementById("my").onclick = function () {
      location.href = "compose";
  }
</script>
</body>
</html>
